/* HEADER */
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8rem 2rem !important;
}
.header-wrap a {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}
.header-wrap a img {
  width: 1.3rem;
}
.header-wrap a.home img {
  width: 1.4rem;
}
.header-wrap a.prev img {
  transform: scaleX(-1);
}

.inner {
  width: 1400px;
  margin: 0 auto;
}

.title-sec {
  padding: 12rem 0 4.5rem;
  border-bottom: 1px dashed #bbb;
}
.title-sec span {
  display: block;
  font-size: 1.5rem;
  color: #bbb;
  margin-bottom: 2rem;
}
.title-sec h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -2.5px;
}
.title-sec .skills {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.title-sec .skills li {
  background: #eee;
  color: #555;
  padding: .4rem 1rem;
  border-radius: 1rem;
  font-size: .9rem;
  letter-spacing: -.5px;
}
.title-sec p {
  margin-top: 2.8rem;
  font-size: 1.3rem;
  color: #444;
  line-height: 1.6;
  word-break: keep-all;
}

.detail-sec {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 4rem 0;
}
.detail-sec h3 {
  font-family: 'YeogiOttaeJalnan';
  font-size: 3.2rem;
  color: #222;
  margin-bottom: 1.6rem;
  letter-spacing: -2px;
}
.detail-sec .pc-wrap .photo-wrap ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.detail-sec .pc-wrap .photo-wrap ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.detail-sec .pc-wrap .photo-wrap ul li {
  height: 600px;
  border: 1px solid #ddd;
  border-radius: .7rem;
  overflow: hidden;
}
.detail-sec .mobile-wrap .photo-wrap ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.detail-sec .mobile-wrap .photo-wrap ul li {
  height: 1000px;
  border: 1px solid #ddd;
  border-radius: .7rem;
  overflow: hidden;
}
.detail-sec .photo-wrap ul li img {
  width: 100%;
}